@{
    ViewBag.Title = "Tietoja meistä:";
}
<h2>@ViewBag.Title</h2>

<br />
<br />
<br />

@*Tämä viesti tulee HomeControllerista*@
<h5><i class="fas fa-tools"></i>  @ViewBag.Message  <i class="fas fa-tools"></i></h5>


