@{
    ViewBag.Title = "Yhteystiedot:";
}
<h2>@ViewBag.Title</h2>
<br />

<address>
    Saukonpolku 5<br />
    Mäntsälä 04600<br />
    <abbr title="Puhelin">P:</abbr>
    010 000 000 
</address>

<address>
    <strong>Tuki:</strong>   <a href="mailto:tuki@tilausdb.fi">tuki@tilausdb.fi</a><br />
    <strong>Myynti:</strong> <a href="mailto:myynti@tilausdb.fi">myynti@tilausdb.fi</a>
</address>