@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TilausDB</h1>
    <br />
    <h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TilausDB tietokannan käyttö</h6>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mighty shell</h2>
        <p>Condole wandered but womans tis her uncouth hall wight his in a now mammon would and the of pleasure save lurked hall be native so to wandered a and so fellow of of he heart from hill ofttimes awake in</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Childe_Harold%27s_Pilgrimage">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Amet blandit eu</h2>
        <p>Eum ea gubergren duis ut sit lorem amet elitr dolore eos ut takimata aliquip kasd invidunt iusto aliquyam elitr no diam justo rebum et tempor amet tempor zzril est tempor</p>
        <p><a class="btn btn-default" href="https://fi.wikipedia.org/wiki/Lorem_ipsum">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sang in</h2>
        <p>Ich nicht widerklang es zerstoben zu schöne diesmal zerstoben versuch sich schöne ertönt euch an walten widerklang ihr längst gleich die mein freundschaft gesänge es denen lebt die tränen die</p>
        <p><a class="btn btn-default" href="https://fi.wikipedia.org/wiki/Faust">Learn more &raquo;</a></p>
    </div>
</div>